.categories{
    padding : 3vh 7vw;
    background-color: rgba(24, 74, 156, 0.2);
}

.categories-title{    font-size: 2rem;
    font-weight: bold;
}

.categories-list{
    list-style: none;
    margin-top : 2vh;
    display: flex;
}

.category-button{
    all : unset;
    padding : 1vh 1vw;
    border-radius: 15vw;
    border: 0.1vh solid black;
    margin-right : 2vh;
    /* background-color : rgba(24, 74, 156, 0.2); */
    cursor: pointer;
}

#is-selected{
    background-color: var(--primary-yellow);
    color: white;
    border : 0.1vh solid white;
}

.category-plans{
    display: flex;
    flex-wrap: true;
    flex-direction: row;
}

/* CSS for plan card */

.plan-card{
    display: flex;
    flex-direction: column;
    width: 25vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding : 2vh 2vw;
    border: 0.1vh solid black;
    border-radius: 1vw;
    margin : 2vh 1vw;
    background-color: rgba(255, 255, 255, 0.5);
}

.plan-card:hover{
    transform: translateY(-5px);;
}

.plan-name{
    font-weight: bold;
    font-size : 4vh;
}

.plan-benefits {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefit {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
}

.tick-icon {
  background-color: #007bff;
  color: var(--primary-yellow);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

