.footer{
    height : 6vh;
    background-color: rgba(24, 74, 156);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 1rem;
}

.icon{
    color: red;
}