*{
    box-sizing: border-box;
}

.home{
    height : 50vh;
    margin : 20vh 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content{
    width : 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-home{
    margin-bottom: 3vh;
}

#title1{
    color : var(--primary-blue);
    font-size: 4rem;
    line-height: 1.5;
}

#title2{
    color : var(--primary-yellow);
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
}

.hero-text1{
    font-size: 1.5rem;
}

.hero-text2{
    font-size: 1.5rem;
    font-weight: bold;
}

.banner{
    width: 30vw;
    display: flex;
    flex-direction: column;
}

.stat-component{
    display: flex;
    align-items: center;
    position: relative;
}

.stat-component img{
    width: 10vh;
    height: 10vh;
    opacity: 0.8;
    border-radius: 50%;
    border: 0.3vw solid var(--primary-yellow);
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
}

.hero-text{
    width : 20vw;
    height : 10vh;
    background-color: var(--primary-blue);
    color:#fff;
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin : 2vh 0;
    display: flex;
    align-items: center;
    padding: 1vh 7vh;
}
